# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js Build Output
/.next/
/out/
/build

# TypeScript build info
*.tsbuildinfo

# Environment variables (security sensitive)
.env
.env*.local
!.env.example

# Logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS metadata
.DS_Store
Thumbs.db
